* {
  font-family: Helvetica;
  background-color: #4682b4;
}
.baner {
  background-color: #4682b4;
  color: white;
  text-align: center;
  height: 30px;
}
.glowny {
  background-color: #b0c4de;
  padding: 50px;
  text-align: center;
}
.glownezdj {
  margin: 3px;
  border: dashed blue 1px;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}
.lewy {
  background-color: #4682b4;
  color: white;
  height: 300px;
  width: 80%;
  display: inline-block;
  margin-top: 50px;
}
.dodzdj {
  height: 40%;
  width: 17%;
  margin-left: 8px;
  background-color: #b0c4de;
  border-radius: 10px;
}
.dodzdj:hover {
  border: solid white 1px;
}
.prawy {
  background-color: #4682b4;
  color: white;
  height: 300px;
  width: 20%;
  display: inline-block;
}
