* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4682b4;
}
.baner {
  background-color: #4682b4;
  color: white;
  text-align: center;
  height: auto;
}
.srodek {
  background-color: #b0c4de;
  padding: 40px;
  text-align: center;
}
.prawa {
  background-color: #4682b4;
  color: white;
  width: 25%;
  display: inline-block;

}
.lewa {
  background-color: #4682b4;
  color: white;
  height: 300px;
  width: 75%;
  display: inline-block;
  float: left;
}
.srdkzdj {
  margin: 3px;
  border: dashed blue 1px;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}
.zdjecia {
  height: 40%;
  width: 16%;
  margin-left: 8px;
  background-color: #b0c4de;
  border-radius: 10px;
}

.stopka {
  background-color: #4682b4;
  color: white;
  text-align: center;
  height: 40px;
  font-weight: normal; 
  margin-right: 80px;
}
.zdjecia:hover {
  border: solid white 2px;
}